/* ===== CSS VARIABLES FOR LIGHT MODE (DEFAULT) ===== */

:root {
 /* Primary Brand Colors */
 --primary-dark: #035f8d;
 --accent-color: #851e1a;
 --accent-secondary: #05324b;




 /* Text Colors */
 --text-dark: #000000;
 --text-light: #020202;
 --text-muted: #ffffff;




 /* Background Colors */
 --background-light: #f5f5f5;
 --background-white: #ffffff;
 --background-dark: #020d16;
}
/* ===== CSS VARIABLES FOR DARK MODE ===== */
[data-theme="dark"] {
 /* Primary Brand Colors */
--primary-dark: #013047;
 --accent-color: #581311;
 --accent-secondary: #05324b;




 /* Text Colors */
 --text-dark: #f5f5f5;
 --text-light: #f5f5f5;
 --text-muted: #f5f5f5;




 /* Background Colors */
 --background-light: #211c68;
 --background-white: #14094b;
 --background-dark: #111442;
}


